# Python virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit specific
.streamlit/config.toml
# .streamlit/secrets.toml  <-- Buni yuklamang, maxfiy parollar shu yerda bo'ladi!

# macOS specific
.DS_Store

# Data files (Katta bazalarni yuklamaslik uchun)
data/*.csv
data/*.xlsx

# Environment variables
.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
